/* <!---------------User Home Page-------------->*/
.home{
    background-image: url(images/backgroung.jpg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,.7);
 }
 .logoclass{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
 .logoclass a{
    background-color: #fff;
    justify-content: space-between;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 20px;
}
.logo{
    font-size: 25px;
    color: black;
    cursor: pointer;
    padding: 7px;
    text-decoration: none;
}
h2{
    text-align: center;
    color: white;
    font-size: 40px;
    background: black;
}

body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 50%;
margin-bottom: 16px;
padding: 0 8px;
text-align: center;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
}

#about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

/* <!---------------plant--------------->*/
.box {
    position: relative;
  }
  .box-pic {
    z-index: 1200;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 30px;
    height: 30px;
  }
  .box-pic > img {
    width: 100% !important;
    height: 100% !important;
  }

/* <!---------------Review Section--------------->*/
.head_text{
    text-align: center; 
}
#review .all_person{
display: flex;
flex-wrap: wrap;
gap:1.9rem;
}

#review .all_person .person{
text-align: center;
padding:2rem;
border:1rem solid rgb(245, 225, 225);
border-radius: 1rem;
flex:1 1 25rem;
background:rgb(109, 71, 71);
margin-top: 10rem;
}

#review .all_person .person img{
height: 15rem;
width:15rem;
border-radius: 60%;
border:1rem solid rgb(250, 243, 243);
margin-top: -12rem;
object-fit: cover;
}

#review .all_person .person h3{
font-size: 2.9rem;
color:#fff;
padding:.7rem;
}

#review .all_person .person .stars i{
font-size: 2rem;
color: #f32323;
padding:.5rem 0;
}

#review .all_person .person p{
font-size: 1.5rem;
color:rgb(250, 243, 243);
padding:1rem;
}
.stars{
    background-color: #f32323;
}